.item {
  color: red;
  background-color: #ccc;
  text-align: center;
  padding: 2rem 0; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item {
  width: calc(25% - 2rem);
  min-width: 200px;
  margin-bottom: 2rem; }
