.message-box {
  margin-bottom: 5rem; }
  .message-box .message-box-style ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .message-box .message-box-style li {
    display: block;
    background: #f1f6f9;
    padding: 15px 35px;
    color: black; }
  .message-box .message-box-style + li {
    margin-top: 5px; }
