
//FONTS importation des fonts à partir du fichier FONT
@font-face{
    font-family: "BwModelica-Medium";
    src:url("../src/fonts/BwModelica-Medium.woff") format("woff");

}

@font-face{
    font-family:"BwModelica-ExtraBold";
    src:url("../src/fonts/BwModelica-ExtraBold.woff") format("woff");
}
@font-face{
    font-family: "BwModelica-Light";
    src:url("../src/fonts/Bwmodelica-light.woff") format("woff");
}
@font-face{
    font-family: "BwModelica-Regular";
    src:url("../src/fonts/BwModelica-Regular.woff") format("woff");
    
}
@font-face{
    font-family: "BwModelica-Bold";
    src:url("../src/fonts/BwModelica-Bold.woff") format("woff");
    
}

@font-face{
    font-family: "BwModelica-RegularItalic";
    src:url("../src/fonts/BwModelica-RegularItalic.woff") format("woff");
    
}

@font-face{
    font-family: "BwModelica-ExtraBoldItalic";
    src:url("../src/fonts/BwModelica-ExtraBoldItalic.woff") format("woff");
    
}


@font-face{
    font-family: "BwModelica-BoldItalic";
    src:url("../src/fonts/BwModelica-BoldItalic.woff") format("woff");
    
}
